/* Tailwind base styles, components and utilities swapped in with npm run build */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* added to tailwind.config.js */
  html {
    scroll-behavior: smooth;
  }
}

:root {
  --primary-color-lighter: #bbdefb;
  --primary-color-light: #64b5f6;
  --primary-color: #1976d2;
  --primary-color-dark: #0d47a1;
}

body {
  /* text-gray-800 */
  color: #1f2937;
  line-height: 1.625;
}

a {
  text-decoration: none;
}

p {
  max-width: none;
}

ul {
  line-height: 1.625;
}

.-rotate-45 {
  transform: rotate(-45deg);
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.text-color-primary-lighter {
  color: var(--primary-color-lighter);
}
.text-color-primary-light {
  color: var(--primary-color-light);
}
.text-color-primary {
  color: var(--primary-color);
}

.text-color-primary-dark {
  color: var(--primary-color-dark);
}

.bg-color-primary-lighter {
  background-color: var(--primary-color-lighter);
}
.bg-color-primary-light {
  background-color: var(--primary-color-light);
}

.bg-color-primary {
  background-color: var(--primary-color);
}

.bg-color-primary-dark {
  background-color: var(--primary-color-dark);
}

.border-color-primary-light {
  border-color: var(--primary-color-light);
}
.border-color-primary {
  border-color: var(--primary-color);
}
.border-color-primary-dark {
  border-color: var(--primary-color-dark);
}

.bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  filter: brightness(50%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-overlay-dark {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  filter: brightness(30%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-overlay-darker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -10;
  filter: brightness(20%);
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.column-thumbnail {
  aspect-ratio: 4/3;
  object-fit: cover;
}

.icon-bg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.logo {
  max-width: 10rem;
  min-width: 7rem;
}

.vl {
  border-color: black;
  border-left: 8px solid;
}

.text-gap {
  margin-left: -0.3rem;
}

@media (min-width: 768px) {
  .text-gap {
    margin-left: -0.5rem;
  }
}
